@mixin navbar() {

  form {
    display: inline-block;
  }

  img {
    height: 45px;
    overflow: hidden;
    margin-top: -6px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;

    @media (max-width: 1024px) {
      display: block;
      height: 90px;
      margin: 5px auto;
    }
  }

  overflow: hidden;

  .left {
    float: left;
    text-align: left;

    @media (max-width: 1024px) {
      float: none;
      text-align: center;
    }
  }

  .right {
    float: right;
    text-align: right;

    @media (max-width: 1024px) {
      float: none;
      text-align: center;
    }
  }

  .info {
    display: inline-block;
    color: var(--text);
    font-size: 125%;
    text-decoration: none;
    font-weight: 600;
    margin: 8px;
    padding: 8px 16px;
    background: var(--theme-color-2);
    border-radius: 5px;

    a {
      padding: 0;
      margin: 0 12px;
      font-size: 100%;
    }

    @media (max-width: 1024px) {
      display: flex;
    }
  }

  a {
    color: var(--text);
    display: inline-block;
    text-decoration: none;
    font-size: 125%;
    font-weight: 600;
    margin: 8px;
    border-radius: 5px;

    i {
      margin-right: 5px;
    }

    @media(max-width: 1024px) {
      display: block;
      width: 100% !important;
      float: none;
      text-align: center;
      margin: 0;
      border-radius: 0;
    }


  }
}