@use "var.scss";

$navbar-height: 57.38px;

* {
  box-sizing: border-box;
  font-family: Montserrat !important;
}

html,
body {
  height: 100%;
}

body {
  font-family: Montserrat;
  color: var(--text);
  background: var(--dark);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--darker);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--darkest);
    /* creates padding around scroll thumb */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.top-bar {
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  background: var(--darkest);
  box-shadow: 1px 1px 5px var(--shadow);
  z-index: 1000;
  font-size: 20px;

  .info {
    display: inline-block;
    background: var(--dark);
    padding: 2.5px 12px;
    margin: 0 5px;
    border-radius: 5px;

    a {
      color: #fff;
      margin: 0 10px;
      font-weight: 600;
      ;

      i {
        margin: 0 2.5px;
      }

      &:hover {
        color: inherit;
      }
    }
  }
}

.top-bar-push {
  height: $navbar-height;
}

.grid-margin-x {
  margin: 0;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--darkest);
  width: 215px;
  z-index: 250;
  box-shadow: 1px 1px 5px var(--shadow);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--darker);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--darkest);
    /* creates padding around scroll thumb */
  }

  .sidebar-text {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--dark);
  }

  .sidebar-text-profile {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;

    img {
      width: 25px;
      border: 1px solid var(--dark);
      background: var(--dark);
    }
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      font-size: inherit;

      a {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
        color: var(--text);
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid var(--dark);

        .label {
          line-height: 1.5;
          background: var(--theme-color);

          &:hover {
            cursor: pointer;
          }
        }

        &:hover {
          background: var(--dark);
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }

  .sidebar-inner {
    margin-top: $navbar-height;
  }
}

.frame {
  position: relative;
  width: auto;

  .normal_thumbnail {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    border: 2px solid var(--dark);
    background-color: var(--dark);
  }
}


.admin-links {
  ul {
    list-style: none;
    margin: 0;

    li {
      font-size: inherit;

      a {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
        color: var(--text);
        display: block;
        padding: 10px 15px;
        border: 1px solid var(--dark);

        &:hover {
          background: var(--dark);
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

.site-footer {
  width: 100%;
  background: var(--darker);
  padding: 25px 0;
  bottom: 1;
  border-top: 1px solid var(--darkest);

  .footer-title {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 600;
  }

  .footer-text {
    margin-top: 25px;
    text-align: center;
    color: #cecece;
    font-size: 13px;
  }
}

.site-wrap {
  min-height: 100%;
}



.reveal {
  background-color: var(--darkest);
  border-color: var(--dark);
}

.divider {
  border-top: 1px solid var(--dark);
  background: var(--dark);
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media print,
screen and (min-width: 1024px) {
  .grid-margin-x>.sidebar-shrink {
    width: 215px;
  }
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free" !important;
}

@media screen and (max-width: 1024px) {
  .grid-x {
    display: block;
  }


  .side-bar {
    position: static;
    width: 100%;
  }

  .top-bar {
    position: static;
    width: 100%;
  }

  .top-bar-push {
    height: 0;
  }

  .grid-margin-x>.shrink {
    margin: 0;
  }
}

.brand-text {
  font-weight: 700;
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.card {
  padding: 12px;
  background: var(--darker);
  color: #fff;
  border-color: var(--darkest);
  margin: 5px;
  border-radius: 5px;

  label {
    color: inherit;
  }
}

a {
  color: var(--theme-color);

  &:hover {
    color: var(--theme-color-secondary);
  }
}

.site-notification {
  background: var(--theme-color);
  border-radius: 5px;
  padding: 8px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 25px auto;

}

.right {
  float: right;
}

button {
  margin: 0 !important;
  color: #fff !important;

  &.success {
    background-color: var(--green) !important;

    &:hover {
      background: var(--green-secondary) !important;
    }
  }
}

.label {
  border-radius: 2px;

  &.offline {
    border: 2px solid rgb(12, 12, 12);
    background: transparent;
    text-transform: uppercase;
    color: gray;
    border-radius: 10px;
  }

  &.online {
    border: 2px solid var(--green);
    background: transparent;
    text-transform: uppercase;
    color: var(--green);
    border-radius: 10px;
    font-weight: 700;
  }
}

.logout-button {
  padding: 6px;
  border-radius: 10px;
  border: 3px solid var(--theme-color);
}

.sign-up-button {
  padding: 6px;
  border-radius: 10px;
  border: 3px solid red;
}

.sign-in-button {
  padding: 6px;
  border-radius: 10px;
  border: 3px solid darkcyan;
}

.red {
  color: var(--red);

  &.red-hover {
    &:hover {
      color: var(--red-secondary);
    }
  }
}

.callout {
  background: var(--darker);
  color: #fff;
  border-radius: 5px;
  border: 1px solid var(--darkest);
}

.button {
  background: var(--theme-color);
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 14px;
  vertical-align: middle;

  &.u {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 5px !important;

    i {
      margin-right: 5px;
    }
  }

  &:active,
  &:hover,
  &:focus {
    background: var(--theme-color-secondary);
  }
}

em {
  display: block;
}

input,
textarea,
select {
  background: var(--dark) !important;
  color: #fff !important;
  box-shadow: none !important;
  border-color: var(--darker) !important;

  &:focus {
    border-color: dodgerblue !important;
  }
}

.preview {
  background: var(--darkest);
  padding: 12px;
  margin: 5px;
  border: 1px solid var(--dark);
  border-radius: 5px;

  p {
    margin: 0;
  }
}

.text-secondary {
  color: var(--text-2)
}


table {
  border-radius: 5px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h4 {
    a {
      color: #fff;

      &:hover {
        color: inherit;
      }
    }
  }

  p,
  label {
    color: var(--text-2);
  }

  thead {
    background: var(--darker);
    color: #fff;
    border: 1px solid var(--darkest);
  }

  tbody {
    border: 1px solid var(--darkest);

    tr {
      width: 100%;
      transition: 100ms ease all;

      &:hover {
        background-color: var(--dark) !important;
      }

      &:nth-child(odd) {
        background-color: var(--darkest);
      }

      &:nth-child(even) {
        background-color: var(--darker);
      }
    }
  }
}

.content {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.avatar_thumbnail {
  width: 35px;
  border-radius: 50px;
  border: 1px solid var(--darkest);
  float: left !important;
  display: block;
  margin-right: 10px;
}

.ellipsis {
  display: block;
  align-items: center;

  .label {
    margin-left: auto;
  }

  div {
    display: flex;
    align-items: center;
  }
}

img {
  background: var(--dark) !important;
  border-radius: 12px;
}

.icon-container {
  width: 50px;
  height: 50px;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid var(--darkest);
    bottom: 0;
    right: 0;
    position: absolute;
    &.online {
      background-color: lime;
    }
  }
}