@use "var.scss";

$navbar-height: 57.38px;

// Utility Items

.right {
  float: right;
}

ul {
  &.breadcrumbs {
    li {
      color: #cacaca;

      a {
        color: #cacaca;
      }
    }
  }
}


* {
  box-sizing: border-box;
  font-family: Montserrat !important;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--darker);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--darkest);
    /* creates padding around scroll thumb */
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Quicksand;
  color: var(--text);
  background: var(--dark);

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--darker);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--darkest);
    /* creates padding around scroll thumb */
  }
}


.grid-margin-x {
  margin: 0;
}

.frame {
  position: relative;
  width: auto;

  .normal_thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 2px solid var(--dark);
    background-color: var(--dark);
    width: 75%;
  }
}


.reveal {
  background-color: var(--darkest);
  border-color: var(--dark);
}

.divider {
  border-top: 1px solid var(--dark);
  background: var(--dark);
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free" !important;
}


// Typography

a {
  color: var(--theme-color);

  &:hover {
    color: var(--theme-color-secondary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

// Site layout

.top-bar {
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  background: var(--darkest);
  box-shadow: 1px 1px 5px var(--shadow);
  z-index: 1000;
  font-size: 20px;

  .brand-text {
    color: #FFF;
    text-align: center;
    width: 100%;
    display: block;
  }

  #search {
    border-radius: 25px;
    outline: none;
    border: 0;
    transition: background-color 150ms ease;

    &:focus {
      background-color: black !important;
    }
  }

  .info {
    display: inline-block;
    background: var(--dark);
    padding: 2.5px 12px;
    margin: 0 5px;
    border-radius: 5px;

    a {
      color: #fff;
      margin: 0 10px;
      font-weight: 600;
      ;

      i {
        margin: 0 2.5px;
      }

      &:hover {
        color: inherit;
      }
    }
  }
}

.top-bar-push {
  height: $navbar-height;
}

@media print,
screen and (min-width: 1024px) {
  .grid-margin-x>.sidebar-shrink {
    width: 215px;
  }
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--darkest);
  width: 215px;
  z-index: 250;
  box-shadow: 1px 1px 5px var(--shadow);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--darker);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--darkest);
    /* creates padding around scroll thumb */
  }

  .sidebar-text {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
  }

  .sidebar-text-profile {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    img {
      width: 25px;
      border: 1px solid var(--dark);
      background: var(--dark);
    }
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      font-size: inherit;

      a {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
        color: var(--text);
        display: block;
        padding: 10px 15px;
        transition: 100ms border linear;
        border: 0px solid var(--theme-color);
        margin: 2.5px 5px;
        border-radius: 5px;

        .label {
          line-height: 1.5;
          background: var(--theme-color);

          &:hover {
            cursor: pointer;
          }
        }

        &:hover,
        &.active {
          background: var(--dark);
          border-left: 5px solid var(--theme-color);
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

.site-footer {
  width: 100%;
  background: var(--darker);
  padding: 25px 0;
  bottom: 1;
  border-top: 1px solid var(--darkest);

  .footer-title {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 600;
  }

  .footer-text {
    margin-top: 25px;
    text-align: center;
    color: #cecece;
    font-size: 13px;
  }

  li {
    list-style: none;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: grey;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    margin: 0;
  }
}

.site-wrap {
  min-height: 100%;
}

.sidebar-inner {
  margin-top: $navbar-height;
}



@media screen and (max-width: 1024px) {
  .grid-x {
    display: block;
  }


  .side-bar {
    position: static;
    width: 100%;
  }

  .top-bar {
    position: static;
    width: 100%;
  }

  .top-bar-push {
    height: 0;
  }

  .grid-margin-x>.shrink {
    margin: 0;
  }
}

// Admin Page

.admin-links {
  ul {
    list-style: none;
    margin: 0;

    li {
      font-size: inherit;

      a {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
        color: var(--text);
        display: block;
        padding: 10px 15px;
        border: 1px solid var(--dark);

        &:hover {
          background: var(--dark);
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

// Profile

span {
  &.status {
    display: flex;

    p {
      justify-self: center;
    }

    i {
      font-size: 125%;
    }

    align-items: center;
    justify-content: space-around;

  }
}

// Components

.card {
  padding: 12px;
  background: var(--darker);
  color: #fff;
  border-color: var(--darkest);
  margin: 5px;
  border-radius: 5px;

  &.no-padding {
    padding: 0px;
  }

  label {
    color: inherit;
  }
}

.site-notification {
  background: var(--theme-color);
  border-radius: 5px;
  padding: 8px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 25px auto;
}

.label {
  border-radius: 2px;

  &.offline {
    border: 2px solid rgb(12, 12, 12);
    background: transparent;
    text-transform: uppercase;
    color: gray;
    border-radius: 10px;
  }

  &.online {
    border: 2px solid var(--green);
    background: transparent;
    text-transform: uppercase;
    color: var(--green);
    border-radius: 10px;
    font-weight: 700;
  }
}

button {
  margin: 0 !important;
  color: #fff !important;

  &.success {
    background-color: var(--green) !important;

    &:hover {
      background: var(--green-secondary) !important;
    }
  }
}

.logout-button {
  padding: 6px;
  border-radius: 10px;
  border: 3px solid var(--theme-color);
}

.sign-up-button {
  padding: 6px;
  border-radius: 10px;
  border: 3px solid red;
}

.sign-in-button {
  padding: 6px;
  border-radius: 10px;
  border: 3px solid darkcyan;
}

.red {
  color: var(--red);

  &.red-hover {
    &:hover {
      color: var(--red-secondary);
    }
  }
}

.callout {
  background: var(--darker);
  color: #fff;
  border-radius: 5px;
  border: 1px solid var(--darkest);
}

.button {
  background: var(--theme-color);
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 14px;
  vertical-align: middle;

  &.u {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 5px !important;

    i {
      margin-right: 5px;
    }
  }

  &:active,
  &:hover,
  &:focus {
    background: var(--theme-color-secondary);
  }
}

em {
  display: block;
}

input,
textarea,
select {
  background: var(--dark) !important;
  color: #fff !important;
  box-shadow: none !important;
  border-color: var(--darker) !important;
  transition: 250ms all linear !important;

  &:focus {
    border-color: dodgerblue !important;
  }

  &:disabled {
    background: rgb(101, 15, 15) !important;
    color: rgb(183, 174, 174) !important;
    font-size: small;
    border-radius: 2.5px;

    &:hover {
      border-radius: 5px !important;
      background: rgb(85, 17, 17) !important;
    }
  }
}

.preview {
  background: var(--darkest);
  padding: 12px;
  margin: 5px;
  border: 1px solid var(--dark);
  border-radius: 5px;

  p {
    margin: 0;
  }
}

.text-secondary {
  color: var(--text-2)
}


table {
  border-radius: 5px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h4 {
    a {
      color: #fff;

      &:hover {
        color: inherit;
      }
    }
  }

  p,
  label {
    color: var(--text-2);
  }

  thead {
    background: var(--darker);
    color: #fff;
    border: 1px solid var(--darkest);
  }

  tbody {
    border: 1px solid var(--darkest);

    tr {
      width: 100%;
      transition: 100ms ease all;

      &:hover {
        background-color: var(--dark) !important;
      }

      &:nth-child(odd) {
        background-color: var(--darkest);
      }

      &:nth-child(even) {
        background-color: var(--darker);
      }
    }
  }
}

.content {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.avatar_thumbnail {
  width: 35px;
  border-radius: 50px;
  border: 1px solid var(--darkest);
  float: left !important;
  display: block;
  margin-right: 10px;
}

.ellipsis {
  display: block;
  align-items: center;

  .label {
    margin-left: auto;
  }

  .random-users-flex-thing {
    display: flex;
    align-items: center;
  }
}

.text-center-vh {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 32px;
}

img {
  background: var(--dark) !important;
  border-radius: 12px;
}

.icon-container {
  width: 50px;
  height: 50px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-right: 15px;
  }

  .status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid var(--darkest);
    bottom: 0;
    right: 0;
    position: absolute;

    &.online {
      background-color: lime;
    }
  }
}

.card-img {
  margin-top: 30px;
  padding-top: 30px;
  position: relative;
  display: flex;
  overflow: visible;
}

.card-image-top {
  border: 2px solid var(--darkest);
  background-color: var(--darker) !important;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px !important;
  height: 60px;
}

.full-width {
  width: 100%;
}

.vertical-menu {
  list-style-type: none;
  margin: 0;
  margin-top: 12px;

}

#shop {
  button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shop-button {
    border-radius: 5px;
    width: 100%;
    margin: 0;
    padding: 0;

    button {
      padding: 12px !important;
      background: var(--dark) !important;
      border-bottom: 2px solid var(--dark);
      border-radius: 5px;
      margin-bottom: 5px !important;
      text-align: left;
      font-weight: 600;

      i {
        margin-right: 5px;
      }

      &.active {
        border-bottom: 2px solid var(--theme-color);
      }

      &:hover {
        border-bottom: 2px solid var(--theme-color);
      }
    }
  }

  .market-card {
    background: var(--dark);
    margin: 2px;
    padding: 12px;
  }
}



.input-group-button {
  border-radius: 0 5px 5px 0;
}

.input-group-field {
  border-radius: 5px 0 0 5px;
}

.top {
  margin: 5px;
  margin-bottom: 0;
  background: var(--theme-color);
  border-radius: 5px 5px 0 0;
  padding: 12px;
  font-size: 125%;
  font-weight: 600;
}

.card {
  &.card-has-top {
    margin-top: 0px;
    border-radius: 0 0 5px 5px;
  }
}

.forum {
  a {
    color: var(--text);
  }

  h4 {
    margin: 0;
  }

  p,
  label {
    color: var(--text-2);
  }
}